.cell {
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

.off {
	background-color: white;
}

.on {
	background-color: blue;
}

#conwayTitle {
	font-size: 27px;
	margin: 4%;
	text-align: center;
}

#buttons {
	margin: 2%;
}

#theBoard {
	margin: 2% auto;
}