.navbar,
.navbar-inverse {
  background-color: #3B4148;
  height: 130px;
  padding: 2%;
}

#basic-nav-dropdown, #basic-nav-dropdown,  #navHomeTextfalse, #navWeathLogTextfalse {
	color:#54CD79;
	font-size: 33px;
	font-weight: 900;
}

.currentComponent, #basic-nav-dropdown:hover, #basic-nav-dropdown:hover,  #navHomeText:hover, #navBlogText:hover,

#navHomeTexttrue, #navWeathLogTexttrue {
	color:#E65288;
	font-size: 33px;
	font-weight: 900;
}



