.slidePuzzleCanvas {
  background-image: url('/images/beachSurreal.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
  background-color: #999;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  padding-bottom: 100px;
}

.puzzleBackground {
  width: 480px;
  margin: 75px auto;
  background-color: #36454F;
  border-radius: 10%;
}

#rowOfCells {
  margin: 0 auto;
	width: 420px;
  margin-right: 42px;
}

.inplace, .outOfPlace, .slideCellOff {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	margin: 2px auto;
	text-align: center;
	padding-top: 15px;
  font-weight: 900;
  border-radius: 3%;
}

.inplace {
    background: limegreen;
}

.outOfPlace {
  background: coral;
}

.slideCellOff {
	border: 1px solid #36454F;
	color: white;
	background-color: #36454F
}

.puzzleNumber {
	margin-top: 20px;
	font-size: 30px;
	color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#puzGameTitle{
  margin-top: 4%;
  font-size: 40px;
  color: limegreen;
  display: inline-block;
  -webkit-animation: swirl-in-fwd 1.6s ease-out both;
          animation: swirl-in-fwd 1.6s ease-out both;
} 

#puzGameReactTitle {
  font-size: 25px;
  color: coral;
  display: inline-block;
  margin-left: 15px;
  -webkit-animation: bounce-in-top 2.1s both;
	      animation: bounce-in-top 2.1s both;
}

#puzzleMoveCounter {
  margin: 2%;
  color: white;
}

.puzTitleRow {
  margin: 0 auto;
  text-align: center
}

#puzzleWinBubble {
  margin: 10px auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: orchid;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	      animation: heartbeat 1.5s ease-in-out infinite both;
}

#puzzleBubbleText {
	padding-top: 35px;
	margin-bottom: 10px;
	color: white;
	font-size: 22px;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	 animation: heartbeat 1.5s ease-in-out infinite both;
}

#slidePuzzleReset, #slidePuzzleShuffle, #solveSlideButton {
  margin: 3% 2%;
  height: 40px;
  width: 80px;
  font-size: 20px
}

#slidePuzzleReset {
  background-color: coral;
}

#solveSlideButton {
  background-color: limegreen;
}


#slidePuzzleShuffle {
  background-color: white;
  color: black;
}

#resetMoves {
  margin: 8px 8px;
  height: 40px;
  width: 170px;
  font-size: 20px;
  background-color: coral;
  border-color: coral;
}

#slidePuzzleResetWin {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-1080deg) scale(0);
            transform: rotate(-1080deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-1080deg) scale(0);
            transform: rotate(-1080deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



