#splashTitle {
	margin-top: 5%;
	color: white;
	font-size: 80px;
	text-align: center;
}

.splashBack {
  background-color: #2D3338;
  margin-top: 20%;
}

#loginContainer {
  padding: 5%;
  height: 400px;
  padding-top: 1%;
  margin-top: 5%;

}

#signUpContainer {
  padding: 5%;
  height: 400px;
  padding-top: 1%;
  margin-top: 5%;
}

#splashLogin {
  background-color: #4ECE76;
  height: 100%;
  border-radius: 10%;
  color: white;
  text-align: center;
  padding-top: 14%;
  font-size: 100px;
}

#splashLogin:hover, #splashSignUp:hover {
	cursor: pointer;
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
	 color: black;
}

#splashSignUp {
  background-color: #E84F88;
  height: 100%;
  border-radius: 10%;
  color: white;
  text-align: center;
  padding-top: 14%;
  font-size: 100px;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}