#wLogIndexCanvas {
	background-color: white;
}

#wLogIndexTitle{
	text-align: center;
	font-size: 40px;
}

#addWeatherLogButt {
	font-size: 30px;
	font-weight: 900;
	color: white;
	background-color: #E45488;
	margin: 2%;
	height: 40px;
}

#addWeatherLogButt:hover {
	color: black;
	background-color: #59CC7C;
}

.wLogInput {
    height: 55px;
	width: 400px;
	margin-top: 3%;
	font-size: 30px;
	padding: 1%;
	background-color: white;
	border: none;
	color: black;
}

#submitWLog {
  	margin: 2%;
	width: 400px;
	height: 65px;
	font-size: 40px;
	background-color: #54CD79;
	margin-top: 7%;
}